
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: cornflowerblue;
    margin: 0;
    padding: 20px;
  }
  
  .calculator {
    background: greenyellow;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 400px;
    margin: 50px auto;
  }
  
  h1 {
    color: black;
  }
  
  input, button {
    background-color: cornflowerblue;
    padding: 15px;
    margin: 15px 0;
    border: 1px solid silver;
    border-radius: 5px;
    width: 80%;
  }
  
  button {
    background-color: #4caf50;
    color: whitesmoke;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #result {
    font-size: 1.2em;
    color: rgb(184, 27, 27);
    margin-top: 10px;
  }
  